
<div class = "productDesc">
    <div class = "menu">
        
        <div>
            <form method = "POST" action="/product/products">
                <h2 class = "menu1"> Categories: </h2><br><br>
                <select name="prodCategory" id="prodCategory">
                    <option value="Books">Books</option>
                    <option value="Video Games">Video Games</option>
                    <option value="TV Shows">TV Shows and Movies</option>
                    <option value="Smart Home">Smart Home</option> 
                    <option value="Electronics">Electronics</option>
                    <option value="Health">Health and Beauty</option>
                    <option value="Stationery">Stationery</option>
                    <option value="Home">Home and Garden</option> 
                </select><br><br>
                <input class = "submitCat" type="submit" value = "Search Category">
            </form>
        </div>

        <div>
            <h2 class = "menu1">Menu</h2><br>

            <ul>
                <li><a href="">New</a></li>
                <li><a href="">Discover</a></li>
                <li><a href="">Bestsellers</a></li>
                <li><a href="">Deals</a></li>
            </ul>
        </div>
        
    </div>

    
    <div class = "productDesc">
        <div>
                <img id = "productImage" max-height="300px" src="/uploads/{{prodPic}}" alt="productImage">
                <p class = "prodName">{{prodName}}</p>
                <p class = "prodDetails">{{prodDetails}}</p>
                <p class = "prodPrice">${{prodPrice}}</p>
                <p class = "prodCategory"><a href="">{{prodCategory}}</a></p>

                <p>Quantity Available: {{prodQuantity}}</p><br>
                <p><a href="/product/add-to-cart/{{_id}}" class="add-to-cart">Add to Cart</a></p>
        </div>
     </div>
    
</div>