
<h2 id = "success"><p>Welcome, IC: {{user.firstName}} {{user.lastName}}!</p></h2>
<div class = "dashboard">
    
    <div class = "dashItem">
        <h2>Account Information:</h2>
        <p>
            <b>Name: </b> {{user.firstName}} {{user.lastName}}<br>
            <b>Email: </b> {{user.email}}<br>
            <b>Password: </b> ********<br>
            <b>Phone: </b>Not Specified <br>  
            <b>Language: </b>English <br>
            <b>Account Type:</b> {{user.type}} <br>
            <a href="">Edit account information</a>
        </p>
    </div>

    <div class = "dashItem">
        <h2>Inventory Options:</h2>
        <p>
            <a href="/product/addInventory">Add Products</a><br>
            <a href="/product/inventoryList">View Products</a>

        </p>
    </div>
    
    <div class = "dashItem">
        <h2>Email Alerts</h2>
        <p>
            <b>No alerts currently set.</b><br>
            <a href="">Subscribe to PlumWork updates.</a>
        </p>
    </div>

    <div class = "dashItem">
        <h2>Fill Online Orders</h2>
        <p>
            <a href="">Click here to fill online orders.</a>
        </p>
    </div>

    <div class = "dashItem">
        <h2>Saved Addresses</h2>
        <p>
            <b>No addresses available.</b><br>
            <a href="">Click here to set up billing address</a>
        </p>
    </div>
    
    <div class = "dashItem">

    </div>

</div>
