

<div class = "regForm">
    <h2>Create an Account:</h2><br>
    <div id ="regErrors">

    </div>
    <div>{{success}}</div>
    <form action="/user/registration" method = "POST" >
                    <div>           
                        <label for="firstName">First name: </label><br>
                        <input type="text" id="firstName" name="firstName" value={{firstName}}><br>
                        <div class = "formError"><p>{{fnErr}}</p></div><br><br>
                    </div>
                    <div>
                        <label for="lastName">Last name:</label><br>
                        <input type="text" id="lastName" name="lastName" value={{lastName}}><br>
                        <div class = "formError"><p>{{lnErr}}</p></div><br><br>
                    </div>
                    <div>
                        <label for="email">Email:</label><br>
                        <input type="text" id="email" name="email" value={{email}}><br>
                        <div class = "formError"><p>{{emailErr}}</p></div><br>
                    </div>
                    <div>
                        <label for="password">Password:</label><br>
                        <input type="password" id="password" name="password" placeholder="At least 6 characters"><br><br>
                    </div>                     
                    <div>
                        <label for="cpassword">Confirm password:</label><br>
                        <input type="password" id = "cpassword" name="cpassword" ><br><br>
                        {{#each passwordErr}}
                            <div class = "formError"><p>{{this}}</p></div><br>
                         {{/each}}
                    </div> 
                    <input type = "submit" value = "Create your Plum account!">
                </form>

    <p>Already a member? <a href="/login">Sign in!</a></p>
</div>